.session-name {
    font-size: 20px;
    padding: 0px;
    margin: 5px;
    display: inline-block;
}

.session-volume {
    justify-content: center;
    text-align: right;
    display: inline-block;
}

#session-box-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* flex-wrap: wrap; */
    overflow: visible;  

}

.spacer {
    margin-right: auto;
}

.session-box {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: flex;
    width: 100%;
}

.session-box>* {
    /* text-align: center; */
}

.vol-slider {}


#session-settings {
    border: 1px white solid;
    width: 100%;
    background-color: var(--off-black);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;

}

#master-session {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px white solid;
    height: 100%;
    border-radius: 5px;
    margin: 5px;
}

#master-vol-slider {
    appearance: slider-vertical;
    height: 85%;
}

.session-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.session-controls p {
    margin: 5px 15px;
}

.session-mute-active,
.session-solo-active {
    color: var(--accent-color);
}