#splitter {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#separator {
    cursor: col-resize;
    background-color: var(--accent-color);
    width: 10px;
    height: 100%;
    min-width: 10px;

    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#left {
    width: 20vw;
    min-width: 15vw;
    height: 100%;
    text-align: center;
    overflow-y: auto;
}

#right {
    width: 80vw;
    min-width: 40vw;
    height: 100%;
    overflow-y: auto;
}


#left p {
    font-size: 28px;
    cursor: default;
    margin: 0px;
    padding: 10px;
    user-select: none;
}

.setting {
    padding-left: 15px;
    padding-top: 25px;

    display: flex;
    align-items: center;
}

.spacer {
    padding-right: 24px;
    display: inline-block;
}


#import-button#import-button,
#manage-button#manage-button {
    font-size: 18px;
    color: var(--off-white);
    border: 1px solid var(--accent-color);
    padding: 5px;
    margin: 10px 15px;
    border-radius: 5px;
}

#import-button#import-button:hover,
#manage-button#manage-button:hover {
    transition: 0.25s;
    color: var(--accent-color);
}

.setting-group {
    transition: 0.25s;
}

.setting-group:hover {
    color: var(--accent-color);
}


.setting input {
    border-style: solid;
    border-color: var(--off-white);
    border-width: thin;
    border-radius: 5px;
    background-color: var(--default-background-color);

    font-size: 26px;
    color: var(--off-white);
    height: 40px;
    accent-color: var(--accent-color);
    transition: 0.2s;
}

input:focus {
    outline: transparent;
    border: 1px solid var(--accent-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='range'] {
    height: 15px;
    width: 100%;
}


.setting h1 {
    margin: -5px 0px;
    padding: 0;
    font-size: 26px;
    font-weight: normal;
}

.setting p {
    margin: 0;
    padding: 0;
    font-size: 16px;

}

.left-component {
    width: 115px;

    display: flex;
    align-items: center;
    flex-direction: column;
}


.module-info {
    border: 1px solid var(--off-white);
    border-radius: 5px;
    margin: 5px;
    padding: 15px 15px;
}

.module-info>p {
    margin: 0;
    padding: 0;
    font-size: 19px;
}

.module-info>p>span {
    color: var(--accent-color);
}



/* Dialog Box */
.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 100;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--default-background-color);
    border-radius: 5px;
    border: 1px solid var(--off-white);
    padding: 20px;
    text-align: center;
}

.dialog h3,
h4 {
    padding: 0;
    margin: 0;
}

#dialog-cancel:hover,
#dialog-proceed:hover {
    cursor: pointer;
    color: var(--accent-color);
}

.disable-highlight {
    user-select: none;
}

.setting span:hover {
    transition: 0.2s;
}

.setting span:hover {
    color: var(--accent-color);
}



a,
.link {
    color: rgb(43, 142, 255);
}

br {
    user-select: none;
}

.section p {
    font-size: 20px;
    text-align: center;
    color: var(--off-white);
    margin: 0;
    margin-top: 15px;
}

.section p:before,
.section p:after {
    background: linear-gradient(var(--accent-color) 0 0) center/ 95% 1px no-repeat, transparent;
    content: "";
    padding: 0px 20%;
}

.section p:before {
    margin-right: 10px
}

.section p:after {
    margin-left: 10px
}

#manage-module {
    border: 1px solid var(--off-white);
    border-radius: 5px;
    margin: 5px;
    height: calc(100vh - 10px);
}


.installed-module {
    margin: 5px 15px;
    border: 1px solid var(--off-white);
    border-radius: 5px;
    width: calc(100% - 30px);
    padding: 10px;

    display: flex;
}

.installed-module p {
    margin: 0;
    padding: 0;
    font-size: 20px;
}